.contact {
    display: flex;
    padding: 32px 0;

    .contact-info {
        width: 50%;
        font-size: 18px;

        i {
            width: 30px;
        }
    }

    .contact-form {
        width: 50%;

        input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        .row {
            display: flex;
            margin: 0 -16px 8px;
            padding: 0 8px;

            .col-5 {
                width: 50%;
                padding: 0 8px;
            }
        }

        .send-btn {
            float: right;
            margin: 16px 0;
            border: none;
            padding: 8px 16px;
            background-color: #000;
            color: #fff;
            text-transform: uppercase;
        }

        .send-btn:hover {
            background-color: #ccc;
            color: #000;
            cursor: pointer;
        }
    }
}