.footer {
    display: flex;
    height: 216px;

    .footer-content {
        margin: auto;
        opacity: 0.6;
        text-align: center;

        i {
            font-size: 30px;
            margin-right: 4px;
        }

        p {
            margin: 15px 0;

            a {
                color: #000;
            }
        }
    }
}